.catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalago__titulo{
    
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: #F9A331;
}

.search{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    background-color: #CBC0B4;
    color: #5A5C48;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
}

.product-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 8% 8% 8%;
    flex-wrap: wrap;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CBC0B4;
    height: 300px;
    width: 250px;
    padding: 2%;
    margin: 1%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.product-image{
    width: 80%;
    
}