body{
    font-family: 'Poppins', sans-serif;
    background-color: #9DA48E;
    overflow-x: hidden;
    width: 100%;
}

.como__chegar{
    background-color: #5A5C48;
    padding: 1%;
    text-align: center;
    display: grid;
    place-items: center;
}

.main__texto{
    color: black;
}

.mudas__home-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #CCB7A0;
    margin: 0 4% 0 4%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.mudas__home-container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #CCB7A0;
    margin: 4%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.planta1{
    width: 18%;
}

.planta2{
    width: 20%;
}

.catalago{
    height: 100%;
    background-color: #5A5C48;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-explorar{
    width: 50%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    margin-top: 2%;
    background-color: #CBC0B4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.btn-explorar a{
    text-decoration: none;
    font-size: 22px;
    color: #4f4d4a;
}

.btn-explorar:hover{
    width: 55%;
    height: 55px;
    background-color: #9DA48E;
}

.btn-explorar a:hover{
    color: #F9A331;
}

.mapa__titulo{
    font-size: 30px;
    color: #4f4d4a;
    text-align: center;
}

.como__chegar-titulo{
    font-family: 'Dancing Script', cursive;
    color: #F9A331;
    font-size: 60px;
}

.main__texto{
    font-size: 22px;
    color: #CCB7A0;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape img{
    width: 3%;
    padding: 2%;
}

.grupo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto-grupo h2{
    font-size: 30px;
    color: #4f4d4a;
}

.texto-grupo p{
    font-size: 18px;
    color: #4f4d4a;
}

.btn-participar{
    width: 60%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    margin-top: 2%;
    background-color: #CBC0B4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.btn-participar a{
    text-decoration: none;
    font-size: 22px;
    color: #4f4d4a;
}

.btn-participar:hover{
    width: 65%;
    height: 55px;
    background-color: #5A5C48;
}

.btn-participar a:hover{
    color: #F9A331;
}